{{ define "main" }}
{{ $lang := .Site.Language.Lang }}
{{ $blogroll := index .Site.Data $lang "blogroll" }}

<div class="blog-roll-info">
  <h1 class="blogroll-page-text" style="font-size: 5rem;">{{ .Title }}</h1>
  <div class="blogroll-page-text">
    <!-- {{ .Content | markdownify }} -->
    {{ $wrappedTable := printf "<div class=\"table-wrapper\">${1}</div>" }}
    {{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
  </div>

</div>

<hr style="width:100%;"> 
<section class="article-list--compact blogroll-list">

  {{ range $blogroll }}
  <a href="{{ .url }}" target="_blank" rel="noopener">
  <div class="blogroll-cards">
      
      <div class="blogroll-content">
        <div class="blogroll-details">
            <h2 class="blogrol-title">{{ .name }}</h2>
            {{ with .desc }}<p>{{ . }}</p>{{ end }}
            
            
          </div>
          {{ if .img }}
          <div class="blogroll-thumb">
            <img src="{{ .img }}" alt="{{ .name }} logo">
            
          </div>
          {{ end }}
        </div>
        
      </div>
    </a>
  {{ end }}

  <!-- 下方渲染 _index.*.md 文字區 -->

</section>
{{ end }}


