/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */
::selection {
    color: #ffff;
    background: #557697;
}

.widget.archives .widget-archive--list {
  transition: transform .3s ease;
}

.widget.archives .widget-archive--list:hover {
  transform: scale(1.05, 1.05);
}

.tagCloud .tagCloud-tags a {
  border-radius: 10px;
  font-size: 1.4rem;
  transition: transform .3s ease;
}

.tagCloud .tagCloud-tags a:hover {
  transform: scale(1.1, 1.1);
}

@media (min-width: 1024px) {
  .article-list--compact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    box-shadow: none;
    gap: 1rem;

    article {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: 16px;
      transition: box-shadow 0.25s ease, transform 0.25s ease;

      &:hover {
        transform: translateY(-4px);
        box-shadow: var(--shadow-l3);
      }
    }
  }
}


//blogroll
// @media (min-width: 1024px) {
  .blog-roll-info div
  {
    margin-top: -2rem
  }
    .blogroll-page-text {
      
      font-family: 'PopGothicTC';
      margin-top: 1.5rem;
      font-size: 2rem;
      line-height: 1.6;
      color: #FFFF;
      margin-top: -1rem;
      p {
        color:#FFFF;
      }
    }

  .blogroll-list {
    padding: 2rem 0;

    .blogroll-cards {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: 16px;
      transition: box-shadow 0.25s ease, transform 0.25s ease;

      // margin:0.5rem ;
      // display:flex ;
      background: #3e4a4e94;
      // border-radius: 16px;
      // box-shadow: var(--shadow-l2);
      // padding: 2rem;
      // display: flex;
      // flex-direction: column;
      // min-height: 20vh; /* 增加高度 */
      // transition: box-shadow 0.25s ease, transform 0.25s ease;
      
      
      // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 自動換行、兩欄以上時自適應 */
      // gap: 2rem;
      // justify-items: start; /* 對齊左側 */
      &:hover {
        transform: translateY(-4px);
        box-shadow: var(--shadow-l3);
      }

      .blogroll-thumb {
        justify-content: space-between;
        width: 80px;   /* 放大圖片 */
        height: 80px;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
      }

      .blogroll-details {
            flex-grow: 1;
            padding: 0;
            min-height: var(--image-size);
            gap: 10px;
            //display: flex;
      }

      .blogroll-content {
        justify-content: space-between;
        display: flex;
        padding: 2rem;
        color: #FFFF;
        //border-bottom: 1.5px solid var(--card-separator-color);

        h2 {
          margin: 1;
            font-size: 2.5 rem;

            @include respond(md) {
                font-size: 1.8rem;
            }
        }

        p {
          font-size: 1.4rem;  /* 放大描述文字 */
          // line-height: 1.6;
          // color: var(--text-muted);
          // margin: 0;
        }
      }
    }

  }
// }


