.not-found-box
{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    justify-content: center; 

}
.not-found {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center;     /* 垂直置中 */
    font-size: 8rem;
    font-weight: 700;
}
