---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
const { cover = "/default-og-img.webp" } = Astro.props;
---

<html lang={YukinaConfig.locale}>
  <BaseHead cover = {cover} />
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
