---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
const {
  cover = Astro.props.frontmatter?.cover || Astro.props.cover || "/default-og.png",
  lang = "zh",
} = Astro.props;

const langMap: Record<string, string> = {
  zh: "zh-TW",
  en: "en",
};
---

<html lang={langMap[lang]} data-theme="dark">
  <BaseHead cover={cover} lang={lang} />
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
