---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
const {
  // 1. 如果是 Markdown 自動套用 Layout，會在 frontmatter 裡
  // 2. 如果是 .astro 頁面手動傳入，會在 Astro.props 裡
  cover = Astro.props.frontmatter?.cover || Astro.props.cover || "/default-og.png"
} = Astro.props;
---

<html lang={YukinaConfig.locale}>
  <BaseHead cover = {cover} />
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
